version: '3.8'

services:
  server:
    build:
     context: .
     dockerfile: server/Dockerfile
    ports:
      - "4000:4000"
    environment:
      - PORT=4000
      - MONGO_URI=mongodb://mongo:27017/chess
      - JWT_SECRET=secret
      - CLIENT_ORIGIN=http://localhost:5173
    depends_on:
      - mongo

  mongo:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data: